.teachers {
    padding: 20px 10px;
    font-family: sans-serif;
}

.teachers-blok {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.teacher {
    display: flex;
    flex-direction: column;
}

.teachers__img {
    width: 230px;
    height: 340px;
    object-fit: cover;
}

.teachers__b {
    font-size: 120%;
}

.teachers__p {
    font-size: 90%;
    color: #252525;
}

@media (max-width: 846px) {
    .teachers__img {
        width: 200px;
        height: 250px;
        object-fit: cover;
    }
}

@media (max-width: 467px) {
    .teachers__img {
        width: 170px;
        height: 250px;
    }
}